---
---

<div id="goblin-scribe-card" class="w-full h-full p-6 flex flex-col">
    <a href="https://goblinscribe.aramisjones.com" target="_blank" rel="noopener noreferrer" class="text-2xl font-bold font-abril-fatface mb-4 hover:opacity-80 transition-opacity block">GoblinScribe</a>
    
    <div class="flex-1 flex flex-col justify-center">
        <p class="text-sm text-muted mb-4">
            A full D&D manager featuring campaign management, note taking and keeping, shared notes, nested location management, 
            character and NPC management, custom or template monsters, combat management, and real-time map and encounter running for online play.
        </p>
    </div>
</div>

